<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/autoSuggest.css">
		<script src="/static/js/jquery-1.7.2.min.js"></script>
		<script src="/static/js/jquery.autoSuggest.js"></script>
		{#  <script src="/static/js/jquery.autoSuggest.minified.js"></script> #}

	</head>
	<body>
		<form action="/save">
			<input name="favs" type="text" placeholder="Mijn lievelingsfilm">
			<input type="submit" value="verstuur">
		</form>
	</body>	
	<script type="text/javascript">
		$("input[type=text]").autoSuggest("/search", {selectedItemProp: "name", searchObjProps: "name"})
	</script>
</html>