<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/autoSuggest.css">
		<script src="/static/js/jquery-1.7.2.min.js"></script>
		<script src="/static/js/jquery.autoSuggest.minified.js"></script>

	</head>
	<body>
		<form>
			<input type="text" placeholder="Pulp Fiction">
		</form>
	</body>	
	<script type="text/javascript">
var data = {items: [
{value: "21", name: "Mick Jagger"},
{value: "43", name: "Johnny Storm"},
{value: "46", name: "Richard Hatch"},
{value: "54", name: "Kelly Slater"},
{value: "55", name: "Rudy Hamilton"},
{value: "79", name: "Michael Jordan"}
]};
$("input[type=text]").autoSuggest(data.items, {selectedItemProp: "name", searchObjProps: "name"})
	</script>
</html>